body {
  margin: 0 15px;
}

main {
  background-color: #fafafa;
}

.acessibility {
  box-shadow: 1px 2px 8px 0 #e0e7f2;
  background-color: #fafafa;
}

.acessibility .acessibility__button {
  padding: 8px 36px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  border: solid 1px #d6d6d6;
  border-radius: 12px;
  color: #000;
  background-color: #fafafa;
}

.acessibility .acessibility__button .fa-magnifying-glass {
  margin-left: 24px;
}

.infobar {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: #01579b;
}

.menu {
  background-color: #0277bd;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.carousel .carousel-control-prev {
  opacity: 1;
}

.carousel .carousel__controlbutton {
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background-color: #fff;
  color: black;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services {
  background-color: #01579b;
}

.dropdown .btn {
  color: white;
}

.infobar .infobar__link {
  text-decoration: none;
}

.infobar .infobar__button {
  height: 94px;
  padding: 22px;
  border-radius: 24px;
  color: black;
  background-color: #eceff1;
}

.infobar .fa-address-card {
  margin-top: 14px;
}

.infobar .infobar__button__text {
  margin-top: 16px;
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.teste {
  border-radius: 24px;
}

.btn__noticies {
  border-radius: 16px;
  background: #ffb300;
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #331600;
  border: none;
}

.notices__info__primary {
  background-color: #ffffff;
  border-radius: 24px;
  border: solid 1px;
  border-color: #eeeeee;
}

.notices__info__primary :nth-child(1) {
  margin-left: 3;
}

.notices__info__secondary{
    background-color: #ffffff;
    border-radius: 24px;
}

.galeria_photo{
    height: 584px;
  flex-grow: 0;
  margin: 32px 0;
  padding: 48px 0;
  border-radius: 16px;
  background-color: #01579b;
}

.events__info {
    margin-left: 30px;
}

.events__info__cards{
    margin-left: 15px;
}

.events__info h1{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #01579b;
}

.events__info h2{
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #01579b;
  
}

.events__info h3{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #616161;
}

.events__info h4{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #01579b;
}

.events__info h5{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #616161;
}